:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48456;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
  resize: none;

}

* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* .objects {
  min-width: 1920px;
  max-width: max-content;
} */

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}

.objects {
  position: relative;
  transform: translateY(800%);
  min-width: 1056px;
  width: 1056px;
  margin: 0 auto;
}

.arrow-key {
  position: relative;
  transform: scale(3) translateY(30%) translateX(250%);
  image-rendering: pixelated;
  
  padding: 0;
}

.enter-key {
  position: relative;
  transform: scale(3) translateY(30%) translateX(620%);
  image-rendering: pixelated;
  
  padding: 0;
}

.home-button {
  position: relative;
  height: 60px;
  width: 200px;

  font-size: 24px;
  padding: 0;
  background: #FFE8D2;
  border: 10;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;

}