:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48456;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing:border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}

.arrow-key {
  position: absolute;
  right: 105px;
  top: 390px;
  image-rendering: pixelated;
  transform: scale(3) translateY(50%)
}

.enter-key {
  position: absolute;
  right: 133px;
  top: 200px;
  image-rendering: pixelated;
  transform: scale(3) translateY(50%)
}

.home-button {
  position: absolute;
  height: 50px;
  width: 200px;
  bottom: 35px;
  right: 720px;
  margin: 0;
  font-size: 24px;
  padding: 0;
  -webkit-appearance: none;
  background: #FFE8D2;
  border: 10;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;

}